biSpm_perf	jdbc:oracle:thin:@(DESCRIPTION=(FAILOVER=on)(LOAD_BALANCE=on)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0.USPS.GOV)))
biSpmNode1_perf 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_1.USPS.GOV)))
biSpmNode2_perf	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_2.USPS.GOV)))
biSpmNode3_perf 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_2.USPS.GOV)))
biSpmNode4_perf 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_2.USPS.GOV)))
sasp_mjr	jdbc:oracle:thin:@(DESCRIPTION=(FAILOVER=on)(LOAD_BALANCE=on)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1.USPS.GOV)))
sasp_mnr	jdbc:oracle:thin:@(DESCRIPTION=(FAILOVER=on)(LOAD_BALANCE=on)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1.USPS.GOV)))
sasp_perf	jdbc:oracle:thin:@(DESCRIPTION=(FAILOVER=on)(LOAD_BALANCE=on)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0.USPS.GOV)))
saspNode1_mjr	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_1.USPS.GOV)))
saspNode1_mnr 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_1.USPS.GOV)))
saspNode1_perf	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_1.USPS.GOV)))
saspNode2_mjr	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_2.USPS.GOV)))
saspNode2_mnr 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_2.USPS.GOV)))
saspNode2_perf	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_2.USPS.GOV)))
saspNode3_mjr	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_3.USPS.GOV)))
saspNode3_mnr 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_3.USPS.GOV)))
saspNode3_perf	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_3.USPS.GOV)))
saspNode4_mjr	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_4.USPS.GOV)))
saspNode4_mnr 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_1.USPS.GOV)))
saspNode4_perf	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_4.USPS.GOV)))
saspNode5_mnr 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_1.USPS.GOV)))
saspNode5_perf	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_1.USPS.GOV)))
saspNode6_mnr 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_2.USPS.GOV)))
saspNode6_perf	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_2.USPS.GOV)))
saspNode7_mnr 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_3.USPS.GOV)))
saspNode7_perf	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_3.USPS.GOV)))
saspNode8_mnr 	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_4.USPS.GOV)))
saspNode8_perf	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_4.USPS.GOV)))
saspRpt_qbids1	jdbc:oracle:thin:@(DESCRIPTION=(FAILOVER=on)(LOAD_BALANCE=on)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0.USPS.GOV)))
saspRpt_qbids1_1	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_1.USPS.GOV)))
saspRpt_qbids1_2	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_2.USPS.GOV)))
saspRpt_qbids1_3	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_2.USPS.GOV)))
saspRpt_qbids1_4	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_1.USPS.GOV)))
saspRpt_qsasp0	jdbc:oracle:thin:@(DESCRIPTION=(FAILOVER=on)(LOAD_BALANCE=on)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0.USPS.GOV)))
saspRpt_qsasp0_1	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_1.USPS.GOV)))
saspRpt_qsasp0_2	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_2.USPS.GOV)))
saspRpt_qsasp0_3	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_3.USPS.GOV)))
saspRpt_qsasp0_4	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_4.USPS.GOV)))
saspRpt_qsasp0_5	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_1.USPS.GOV)))
saspRpt_qsasp0_6	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_2.USPS.GOV)))
saspRpt_qsasp0_7	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_3.USPS.GOV)))
saspRpt_qsasp0_8	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP0_4.USPS.GOV)))
saspRpt_qsasp1	jdbc:oracle:thin:@(DESCRIPTION=(FAILOVER=on)(LOAD_BALANCE=on)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1.USPS.GOV)))
saspRpt_qsasp1_1	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_1.USPS.GOV)))
saspRpt_qsasp1_2	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_2.USPS.GOV)))
saspRpt_qsasp1_3	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_3.USPS.GOV)))
saspRpt_qsasp1_4	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_4.USPS.GOV)))
saspRpt_qsasp1_5	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_1.USPS.GOV)))
saspRpt_qsasp1_6	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_2.USPS.GOV)))
saspRpt_qsasp1_7	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_3.USPS.GOV)))
saspRpt_qsasp1_8	jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scanora1282)(PORT=2015)))(CONNECT_DATA=(SERVICE_NAME=QSASP1_4.USPS.GOV)))
